.NavBar{
    background-color: #333333;
    list-style-type: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.NavBar li{
    float: right;
}
.NavBar a{
    display: block;
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 16px;
    text-decoration: none;
}
ul, ol{
    font-size: 24px;
}

.languages, .tools{
    column-count: 4;
    font-size: 24px;
}
.skills-list{
    font-size: 24px;
}


section, div{
    background-color: #888888 !important;

}
section{
    padding-top: 16px;
    --bs-bg-opacity: 0 !important;
}
footer{
    text-align: center;
    padding: 16px;
    font-size: 16px;
}
img{
    max-height: 800px;
}
.projectImage img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 48px;
}
h2{
    font-size: 36px;
    text-align: center;
}
.bio{
    font-size: 20px;
    text-align: center;
}
.name{
    font-size: 72px;
    text-align: center;
}
.school{
    font-size: 25px;
}
.employeer{
    font-size: 25px;
}
.sectionTitle{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}
.jobTitle{
    font-size: 36px;
}
#root{
    background-color: #888888 !important;
}
.bio{
    text-align: center;
    text-wrap: balance;
}
@media (max-width: 1300px ) {
    img{
        max-height: 400px;
    }
}
@media (max-width:800px) {

    ul, ol{
        font-size: 16px;
    }
    .languages, .tools{
        column-count: 2;
        font-size: 16px;
    }
    .sectionTitle{
        font-size: 36px;
    }
    img{
        max-height: 400px;
    }
}
@media (max-width: 600px) {
    ul, ol{
        font-size: 10px;
    }
    .languages, .tools{
        column-count: 1;
        font-size: 10px;
    }
    .sectionTitle{
        font-size: 36px;
    }
    img{
        max-height: 300px;
    }
}
